#section1{
    margin-left: 130px;
    margin-right: 130px;
    padding-top: 60px;
    padding-bottom: 40px;
    margin-bottom: 50px;
}
.div1{
    height: 400px;
    width: 350px;
    background-color: rgb(233, 224, 224);
    text-align: center;
    padding-top: 15px;
    border: 2px dashed ;
}
.img1{
    border-radius: 25%;
    padding: 10px;
}
.div2{
    height: 400px;
    width: 350px;
}
.div3{
    height: 400px;
    width: 350px;
}
/*Meet Our Volunteers*/
#section2{
    margin-left: 150px;
    margin-right: 150px;
   
    padding-bottom: 60px;
    margin-bottom: 50px;
}

#img2{
    height: 200px;
    width: 200px;
}
.margin2{
    margin-bottom: 8px;
}
/*What people say*/

#img3{
    height: 70px;
    width: 70px;
    background-color: coral;
    border-radius: 50%;
}
#section3{
    margin-left: 150px;
    margin-right: 150px;
   
}
#bg{
    background-color: rgb(219, 227, 243);
}
/*footer*/
.section3{
    background-color: black;
    padding-top: 60px;
    padding-bottom: 30px;
    justify-content: space-evenly;
    color: white;
}
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  text-align: center;
  margin-left: 150px;
  margin-right: 150px;
}
.charitify{
  color: white;
  font-size: 12px;
  padding-top: 20px;
  margin-left: 150px;
  margin-right: 150px;
}
